<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DrPharma</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
     <param-name>org.apache.tomcat.websocket.binaryBufferSize</param-name>
     <param-value>524288</param-value>
</context-param>
<servlet>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>org.glassfish.tyrus.servlet.TyrusServlet</servlet-class>
    <init-param>
        <param-name>javax.websocket.Endpoint</param-name>
        <param-value>com.example.ChatEndpoint</param-value>
    </init-param>
</servlet>

<servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/chat/*</url-pattern>
</servlet-mapping>

</web-app>